@charset "utf-8";
* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	height: 100%;
}
body {
	margin: 0 auto;
	overflow-x: hidden;
	height: 100%;
	line-height: 1;
	-webkit-overflow-scrolling: touch; /*滚动条卡顿*/
	-webkit-font-smoothing: antialiased; /*字体抗锯齿渲染*/
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
input,
textarea,
select,
button{
	outline: none;
	vertical-align: middle; /*解决父级底部多余空白*/
	-webkit-appearance: none; /*去掉webkit默认的表单样式*/
	font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
	border: none;
	background: none;
	color: inherit;
}
*:not(input, select, textarea) {
  -webkit-user-select: none; /* 禁止选中文本内容 */
}
em,
i {
	font-style: normal;
}
a {
	text-decoration: none;
}
a:link,
a:active,
a:visited,
a:hover { /* 移动端点击a链接出现蓝色背景问题解决 */
	background: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}
img { /*解决父级底部多余空白*/
  border: 0;
  max-width: 100%;
  vertical-align: middle;
}
img:not([src]),
img[src=""]{
	opacity: 0;
}
ul,
ol {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 弹性布局 */
.flex {
  display: flex;
  box-sizing: border-box;
}
.flex-item {
  flex: 1;
}
.flex-center {
  align-items: center;
  justify-content: space-between;
}

/* 定制主题 */
:root {
	--my-border-color: #4E6EF2;
	--van-tabs-bottom-bar-color: #4E6EF2;
	--van-button-primary-background-color: #4E6EF2;
	--van-button-primary-border-color: #4E6EF2;
}
/* 弹窗视频UI优化 */
.van-popup--center {
	line-height: 0;
	overflow: hidden;
	background: transparent;
}